<a href={{category.url}}>
  {{#if category.uploaded_logo.url}}
    {{cdn-img src=category.uploaded_logo.url class="category-logo"}}
  {{/if}}
</a>

<div>
  <h3>
    <a href={{category.url}} class="row">
      {{#if category.read_restricted}}
        {{fa-icon 'lock'}}
      {{/if}}

      <span class="category-name">{{category.name}}</span>

      <nav class="category-breadcrumbs">
        <ul class="nav nav-pills">
          {{#each categories as |category|}}
            <li>{{category-link category}}</li>
          {{/each}}
        </ul>
      </nav>
    </a>
  </h3>

  {{#if category.description}}
    <p class="category-description">{{category.description}}</p>
  {{/if}}
</div>

<style type="text/css">
  .category-header {
    margin: 12px 0 24px 0;
  }
  .category-header::after {
    display: table;
    content: " ";
    clear: both;
  }
  .category-header h3 {
    height: 30px;
  }
  .category-header h3 .category-name {
    float: left;
    margin-right: 20px;
    font-size: 30px;
    line-height: 30px;
    color: #212121;
  }
  .category-header .category-description {
    color: #909090;
    margin: 12px 0 0 0;
  }
  .category-breadcrumbs {
    float: left;
  }
  .category-header > hr {
    clear: both;
  }
  .category-header .category-logo {
    margin-bottom: 0;
  }
  .category-breadcrumbs > ul.nav {
    margin-bottom: 0;
  }
  .category-breadcrumbs > ul > li {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
  }
  .category-breadcrumbs > ul > li > a.badge-wrapper.bullet {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    line-height: 20px;
  }
  .category-breadcrumbs .badge-wrapper.bullet .badge-category-bg, .category-breadcrumbs .badge-wrapper.bullet .badge-category-parent-bg {
    display: none;
  }
</style>
